h1{
    color: black;
    font: outline;
    font-size: 360%;
    font-weight: bolder;
    font-family: lemonada;
    text-align: center;
}
h2{
    color: black;
    font: outline;
    font-size: 350%;
    font-weight: bolder;
    font-family: indie pop;
    text-align: center;
}
